In [1]:
%config Completer.use_jedi = False

In [3]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [4]:
df = pd.read_csv("data_hitters_linear_weights.csv")

In [5]:
df.head()

     Yr   Tm    R  BB+HBP    1B   2B  3B   HR   SB  CS
0  2016  ARI  752     513   948  285  56  190  137  31
1  2016  ATL  649     561   960  295  27  122   75  34
2  2016  BAL  744     512   889  265   6  253   19  13
3  2016  BOS  878     601  1022  343  25  208   83  24
4  2016  CHC  808     752   887  293  30  199   66  34

In [6]:
df.drop(columns=['Yr', 'Tm'], inplace=True)

In [7]:
df.head()

     R  BB+HBP    1B   2B  3B   HR   SB  CS
0  752     513   948  285  56  190  137  31
1  649     561   960  295  27  122   75  34
2  744     512   889  265   6  253   19  13
3  878     601  1022  343  25  208   83  24
4  808     752   887  293  30  199   66  34

In [8]:
X = df.loc[:, df.columns != 'R']

In [9]:
X = sm.add_constant(X)

In [10]:
X

     const  BB+HBP    1B   2B  3B   HR   SB  CS
0      1.0     513   948  285  56  190  137  31
1      1.0     561   960  295  27  122   75  34
2      1.0     512   889  265   6  253   19  13
3      1.0     601  1022  343  25  208   83  24
4      1.0     752   887  293  30  199   66  34
..     ...     ...   ...  ...  ..  ...  ...  ..
205    1.0     591  1003  285  18  150   79  41
206    1.0     729   851  295  37  160  172  47
207    1.0     556  1101  268  25  162  123  48
208    1.0     526   767  319  21  257   58  20
209    1.0     563   925  250  31  149  110  41

[210 rows x 8 columns]

In [11]:
y = pd.DataFrame(df['R'])

In [12]:
y.head()

     R
0  752
1  649
2  744
3  878
4  808

In [13]:
model = sm.OLS(y, X).fit()

In [14]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      R   R-squared:                       0.901
Model:                            OLS   Adj. R-squared:                  0.898
Method:                 Least Squares   F-statistic:                     263.5
Date:                Wed, 11 May 2022   Prob (F-statistic):           6.66e-98
Time:                        14:16:09   Log-Likelihood:                -943.74
No. Observations:                 210   AIC:                             1903.
Df Residuals:                     202   BIC:                             1930.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -411.8134     33.007    -12.477      0.000    -476.895    -346.731
BB+HBP         0.3262      0.027     12.084      0.000       0.273       0.379
1B             0.4591      0.028     16.275      0.000       0.403       0.515
2B             0.8051      0.071     11.414      0.000       0.666       0.944
3B             1.0721      0.185      5.793      0.000       0.707       1.437
HR             1.4281      0.052     27.321      0.000       1.325       1.531
SB             0.2500      0.063      3.938      0.000       0.125       0.375
CS            -0.2544      0.191     -1.335      0.183      -0.630       0.121
==============================================================================
Omnibus:                        5.340   Durbin-Watson:                   1.859
Prob(Omnibus):                  0.069   Jarque-Bera (JB):                5.059
Skew:                           0.312   Prob(JB):                       0.0797
Kurtosis:                       3.435   Cond. No.                     2.47e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.47e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [4]:
df_act_pred = pd.read_csv("data_hitters_linear_weights.csv")

In [5]:
df_act_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      210 non-null    int64
 1   Tm      210 non-null    object
 2   R       210 non-null    int64
 3   BB+HBP  210 non-null    int64
 4   1B      210 non-null    int64
 5   2B      210 non-null    int64
 6   3B      210 non-null    int64
 7   HR      210 non-null    int64
 8   SB      210 non-null    int64
 9   CS      210 non-null    int64
dtypes: int64(9), object(1)
memory usage: 16.5+ KB

In [24]:
def predicted_run(row):
    return -411.81 + (0.451 * row['1B']) + (0.805 * row['2B']) + (1.072 * row['3B']) + (1.428 * row['HR']) + (0.326 * row['BB+HBP']) + (0.250 * row['SB']) # - (0.254 * [row['CS']])

In [25]:
df_act_pred['prediction_2'] = df_act_pred.apply(predicted_run, axis=1)

In [26]:
df_act_pred['absolute_error_2'] = df_act_pred.apply(lambda row: row['R']-row['prediction_2'], axis=1)

In [27]:
df_act_pred

,Yr,Tm,R,BB+HBP,1B,2B,3B,HR,SB,CS,prediction,absolute_error,prediction_2,absolute_error_2
0,2016,ARI,752,513,948,285,56,190,137,31,770.129,-18.129,778.003,-26.003
1,2016,ATL,649,561,960,295,27,122,75,34,654.785,-5.785,663.421,-14.421
2,2016,BAL,744,512,889,265,6,253,19,13,738.530,5.470,741.832,2.168
3,2016,BOS,878,601,1022,343,25,208,83,24,859.631,18.369,865.727,12.273
4,2016,CHC,808,752,887,293,30,199,66,34,793.440,14.560,802.076,5.924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2010,STL,736,591,1003,285,18,150,79,41,705.466,30.534,715.880,20.120
206,2010,TBR,802,729,851,295,37,160,172,47,746.326,55.674,758.264,43.736
207,2010,TEX,787,556,1101,268,25,162,123,48,758.431,28.569,770.623,16.377
208,2010,TOR,755,526,767,319,21,257,58,20,761.306,-6.306,766.386,-11.386
209,2010,WSN,655,563,925,250,31,149,110,41,653.243,1.757,663.657,-8.657

In [23]:
np.mean(abs(df_act_pred['absolute_error']))

18.024909523809523

In [28]:
np.mean(abs(df_act_pred['absolute_error_2']))

17.19914761904762